body {
    background-color: whitesmoke;
}

h1 {

color: black;
margin-left:  .5px;
}

p {
    padding:50px;
}

h1 {
    font-size: 1.5em;
  }
  ul.a {
    list-style-type: circle;
  }
  
  ul.b {
    list-style-type: square;
  }
  
  ol.c {
    list-style-type: upper-roman;
  }
  
  ol.d {
    list-style-type: lower-alpha;
  }

  button{
    background-color: blueviolet;
    font-size: 30px;
  }

  body {
   background:"OurWorld.png"
  }

  .colorviolet {
  color: blueviolet;
  }
  body {
    background-image: url("Cycle.gif.png")
  }